<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content" style="display:flex; width:100%">
      <div class="side-pannel" style="width:2%"></div>
      <div class="side-pannel" style="width:15%">
      </div>
      <div class="wrapper" style="width:66%">
        {{ content }}
      </div>
      <div class="side-pannel" style="width:15%">
        <div style="font-weight: bold;"><a href="/tag/ip">Intensive Practice</a></div>
        <div><ul>
          <li><a href="/ip/casework"><code class="highligher-rouge"><nobr>Casework</nobr></code></a></li>
          <li><a href="/ip/expected-value"><code class="highligher-rouge"><nobr>Expected Value</nobr></code></a></li>
          <li><a href="/ip/polynomial"><code class="highligher-rouge"><nobr>Polynomial</nobr></code></a></li>
        </ul></div>
        <hr />

        <div>&nbsp;</div>
        <div style="font-weight: bold;"><a href="/tag/potw">Problem of the Week</a></div>
        <div><ul>
           </ul></div>
        <hr />

        <div>&nbsp;</div>
        <div style="font-weight: bold;"><a href="/decks/">Decks</a></div>
        <div><ul>
           </ul></div>
        <hr />

        <div>&nbsp;</div>
        <div style="font-weight: bold;">Tags</div>
        <div>
          {% include archive.html %}
        </div>
        <hr />

        <div>&nbsp;</div>
        <div style="font-weight: bold;"></div>
        <div>
        </div>
      </div>
      <div class="side-pannel" style="width:2%"></div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
