<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content" style="display:flex; width:100%">
      <div class="side-pannel" style="width:2%"></div>
      <div class="side-pannel" style="width:15%">
      </div>
      <div class="wrapper" style="width:66%">
        {{ content }}
      </div>
      <div class="side-pannel" style="width:15%">
        <div style="font-weight: bold;">Tags:</div>
        <div>
          {% include archive.html %}
        </div>
        <div>&nbsp;</div>
          <hr />
        <div>&nbsp;</div>
        <div style="font-weight: bold;"></div>
        <div>
        </div>       
      </div>
      <div class="side-pannel" style="width:2%"></div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
